@media only screen and (min-width: 1920px) {
  #main {
    height: 1080px;
  }
  .nav-item,
  .navbar-nav {
    margin: 20px;
  }
  #name {
    font-size: 6.5rem;
  }
}


#main {
  background-size: cover;
}

.navbar-nav {
  font-size: 1.5rem;
}

#about,
#contact {
  background-color: #48bfe3;
}

.aboutHeading {
  font-size: 4rem;
  padding-top: 100px;
  padding-bottom: 20px;
}

.aboutPG {
  font-size: 2rem;
  padding-bottom: 100px;
  padding-top: 48px;
}

/*Text Font */

#name {
  margin-left: 65px;
}

/* Global */
.line-1 {
  position: relative;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  margin-left: 65px;
  margin-top: 10px;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(88) 1s 1 normal both,
    blinkTextCursor 500ms steps(8) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11.2em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

form {
  padding-bottom: 100px;
  padding-top: 48px;
}

/*Footer*/

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #484848;
}

.footer-text {
  color: white;
}

/*Submit Button*/
.btn {
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  position: relative;
  transition: all 0.15s ease-in-out;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  transition: all 0.15s ease-in-out;
}
.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
  transform: translateY(-1px);
}
.btn:active {
  box-shadow: none;
  transition-duration: 0.05s;
  transform: translateY(1px);
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  background-color: #f8f8f8;
}
.btn.btn-default:active {
  background-color: #eeeeee;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active {
  background-color: #2383c4;
}
.btn.btn-info:active {
  background-color: #2077b2;
}



/*Project Cards*/
.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.card-custom-avatar img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-fluid {
  background-color: #7ed956;
}

#project1 {
  background: #21d4fd linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

#project2 {
  background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#project3 {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#project4 {
  background: linear-gradient(to right, #ffe000, #799f0c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#project5 {
  background: #fad961 linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

#portfolio {
  background-image: radial-gradient(
    circle farthest-corner at 8.6% 21.8%,
    rgba(231, 0, 0, 1) 0%,
    rgba(122, 0, 0, 1) 90.1%
  );
}

#projectCards {
  margin-bottom: 100px !important;
}

/* ################################################################################ */

.title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .55em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  60% { border-color: orange; }

}

section {
  background-color: #14213d;
  height: 100vh;
  display: flex;
}
section .title {
  max-width: 60%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
  color: #ff9f1c;
}
section .title span {
  display: inline-block;
  font-size: 5vw;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;

}

@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

/* ############################################## SUBMIT Button */


/* ##############################################################################################  FOOTER */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
}


/* instagram button class*/
.instagramBtn{
    background: #ee4266;
}

.instagramBtn:before{
      font-family: "FontAwesome";
      content: "\f16d"; /* add instagram icon */
}

.instagramBtn:hover{
      color: #ee4266;
      background: #fff;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
}

/* github button class*/
.githubBtn{
    background: #000000;
}

.githubBtn:before{
      font-family: "FontAwesome";
      content: "\f09b"; /* add github icon */
}

.githubBtn:hover{
      color: #000000;
      background: #fff;
}


/* gmail button class*/
.gmailBtn{
    background: #cb2027;;
}

.gmailBtn:before{
  font-family: "FontAwesome";
  content: "\f003"; /* add gmail icon */
}

.gmailBtn:hover{
  color: #cb2027;
  background: #fff;
}
/* ##################################################################################### RESUME */


.container1 {
    text-align: center;
}

button{
  background:#fca311;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#03045e;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #fca311;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
